*{
    margin: 0;
    padding: 0;
}


h1 {
    background-color: black;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.why {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
}
.why2 {
    text-align: left;
}
input {
    width: 500px;
}

button {
    width: 100px;
}