h1{
    font-size: 3rem;
}
.position1{
    border: 1px dashed black;
    width: 500px;
    height: 300px;
    top: 10%;
    left: 1.5%;
    position: relative;
    
    
}
b{
    font-weight: 600;
    font-size: 2rem;
    left: 5%;
}
.position2{
    border: 1px dashed black;
    width: 500px;
    height: 300px;
    bottom: 302px;
    left: 550px;
    position: relative;
    
}
.position3{
    border: 1px dashed black;
    width: 500px;
    height: 300px;
    position: relative;
    bottom: 270px;
    left: 14px; 
}
.position4{
    border: 1px dashed black;
    width: 500px;
    height: 300px;
    position: relative;
    bottom: 572px;
    left: 552px; 
}
.boxmodel{
    border: 2px solid black;
    background-color: black;
    width: 99%;
    height: 50px;
    position: fixed;
    bottom: 15px;
    
}
.p-1{
 color: white;
 text-align: center;
 
}