*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav > ul{
    list-style: none;
    width: 600px;
    height: 50px;
    font-size: 0;
    box-shadow: 0px 5px 5px 5px #4d4d4d;
    
}
.nav > ul > li{
    display: inline-block;
    width: 100px;
    background-color: rgb(179, 179, 179);
    font-size: 1.5rem;
    height: 100%;
    text-align: center;
    line-height: 50px;
    border-right: 2px solid greenyellow;
}
body{
    padding: 2rem;
}
/* 마지막 요소 제외하고 오른쪽 외곽선 지정 */
.nav > ul > li:nth-last-child(1) {
    border: none;
}
/* 1~5번 요소 마우스 올릴 시 배경색 지정 */
.nav > ul > li:not(:nth-last-child(1)):hover {
    background-color: #4d4d4d
}
/* 마지막 요소 마우스 올릴 시 배경색 지정 */
.nav > ul > :last-child:hover {
    background-color: red;
    color: white;
}
a{
    display: block;
    text-decoration: none;
    color: black;
}