*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.background{
    min-height: 100vh; 
    background-size: cover;
    margin: 40px 30px;
    background-color: white;
    
}
h1{
    text-align: center;
    color: pink;
    text-decoration: underline;
    padding: 20px;
    font-size: 3rem
}
.divbutton2{
    display: grid;
    grid-template-columns: 15fr 1fr;
    padding-left: 30px;
}
.divbutton2 > a{   
    text-decoration: none;
    color : #fff;
    font-size: 1.2rem;
    display: inline-block;
    background-color: pink;
    border-radius: 30px;
    text-align: center;
    width: 120px;
    padding: 15px;
    margin-right: 20px;
}
.divbutton2 > a:hover{
    background-color: rgb(248, 208, 214);   
}
.insert_in{
    display: flex;
    justify-content: center;
}

.insert_form{
    width: 80%;
}

.insert_group {
    display: flex;
    align-items: center;
}
.insert_input{
    flex: 1;
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 15px;
    outline: none;
    margin-left: 20px;
    background-color: rgb(233, 233, 233);
    font-size: 1.5rem;
}

.insert_button {
    width: 8%;
    height: 25px;
    margin-left: 10px;
    background-color: pink;
    color: white; 
    border: 0;
    border-radius: 15px;
    cursor: pointer; 
}

.cont{
    display: flex;  
    justify-content: space-between;
    padding: 30px 10px;
    width: 100%;
}
.in{
    font-size: 1.3rem;
    margin-left: 20px;
    border-width: 0;
}
.btn-update{
    display: none;
  }
.btn-update + label{
    display: inline-block;
    width: 30px;
    height: 30px;
    border:3px solid #707070;
    font-size: 25px;
    text-align: center;
    color: pink;
  }
.btn-update:checked ~ .in {
    text-decoration: line-through;
    text-decoration-color: pink;
}


.border{
    border-bottom: 1px solid black;
    margin: 10px 60px;
}

input:focus {
    outline:none;
}
button{
    border: none;
    box-shadow:  none;
    background-color: inherit;
    cursor: pointer;
}
.divbutton{
    font-size: 1.5rem;
    text-align: center;
}   

.divbutton3{
    padding-left: 100px;
    display: flex;
    justify-content: end;
    padding-top: 5px;
}   

.main-bottom > a {
    text-decoration: none;
    color : #fff;
    font-size: 1.2rem;
    display: inline-block;
    background-color: pink;
    border-radius: 30px;
    text-align: center;
    margin: 2px;
    padding: 2px;
}
.main-bottom{
    text-align: center;
    margin-bottom: 60px;
}
.main-bottom > a:hover {
    background-color:  pink;
}
.in_delete {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;  
    justify-content: end;
}
 h1 > a{
    color: pink;
    text-decoration: none;
}
.flex {
    display: flex;
}