*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.background{
    height: 80vh; 
    margin: 40px 20px 20px 20px;
    background-color: white;
    
}
h1{
    text-align: center;
    color: pink;
    text-decoration: underline;
    padding: 20px;
    font-size: 3rem
}
.divbutton2{
    display: grid;
    grid-template-columns: 15fr 1fr;
    padding-left: 30px;
}
.divbutton2 > a{   
    text-decoration: none;
    color : #fff;
    font-size: 1.2rem;
    display: inline-block;
    background-color: pink;
    border-radius: 30px;
    text-align: center;
    width: 120px;
    padding: 15px;
    margin-right: 20px;
}
.divbutton2 > a:hover{
    background-color: rgb(248, 208, 214);
    
}
.cont{
    display: grid;  
    grid-template-columns: 20fr 1fr;
    padding: 30px 10px;
}
.in{
    font-size: 1.3rem;
    width: 90%;
    margin-left: 20px;
    border-width: 0;


}
.btn-update{
    display: none;
  }
.btn-update + label{
    display: inline-block;
    width: 30px;
    height: 30px;
    border:3px solid #707070;
    font-size: 25px;
    text-align: center;
    color: pink;
  }
.out:checked ~ .in {
    text-decoration: line-through;
    text-decoration-color: pink;
}


.border{
    border-bottom: 1px solid black;
    margin: 10px 60px;
}

input:focus {
    outline:none;
}
button{
    border: none;
    box-shadow:  none;
    background-color: inherit;
    cursor: pointer;
}
.divbutton{
    font-size: 1.5rem;
    text-align: center;
}   

.divbutton3{
    width: 80px;
    padding-right: 10px;
}   

.main-bottom > a {
    text-decoration: none;
    color : #fff;
    font-size: 1.2rem;
    display: inline-block;
    background-color: pink;
    border-radius: 30px;
    text-align: center;
    margin: 2px;
    padding: 2px;
}
.main-bottom{
    text-align: center;
}
.main-bottom > a:hover {
    background-color:  pink;
}
.in_delete {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;  
    justify-content: end;
}
 h1 > a{
    color: pink;
    text-decoration: none;
}