div{
    background-image: url(../img/미어캣.png);
    width: 500px;
    height: 500px;
}
div:hover{
    animation: test 2s forwards;
    /* forwards : 원래 상태 */
}
@keyframes test{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}

